/* Styling the body with a background color and padding */
body {
    background-color: #F9F6EE; /* Light background color */
    padding:25px;
    padding-right: 30px;
    padding-left: 30px; /* Space between the content and the edge of the page */
    font-family: monospace;
    
 }

 
 div.header{
    border-radius: 25px;
    padding:5px;
    background-color:#F9F6EE;
    color:#49BEAA;
    box-shadow: 0px 0px 20px #dccfcf;
    
    p{
      color:#456990;
    }
 }
 div.toolbar{
    border-radius: 25px;
    padding: 5px;
    height:40px;
    background-color:#F9F6EE;
    box-shadow: 0px 0px 20px #dccfcf;
    text-align: center;
    a{
      color:#49DCB1;
    }
 }

 div.content{
    padding:10px;
    border-radius: 25px;
    background-color:#F9F6EE;
    box-shadow: 0px 0px 20px #dccfcf;
    h2{
      color:#EF767A;
    }
    h1{
      color:#EEB868;
    }
 }
 div.project {
   border-radius: 25px;
   background-color: #badad2;
   margin: .5rem;
   padding: .5rem 1rem;
   text-align: center;
 }
 div.info {
   display: inline-block;
   padding: 1rem 1rem;
   vertical-align: middle;
   
 }
 div.recent{
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #c0b4b4;
    padding:10px;
    
 }
 div.blog{
   width: 400px;
   height:300px;
   border-radius:25px;
   background-color:#badad2;
   padding: 10px;
 }
 /* Styling the header text */
 h1 {
    text-align: left; /* Center-aligning the header text */
    font-size: 35px; /* Font size */
    margin-bottom: 20px; /* Space  below the header */
    font-weight: 1000; /* Sets the weight equivalent to bold */
 }
 
 
 /* Styling the links in the navigation list */

 
 
 ul li {
    display: inline; /* Makes the list horizontal */
    margin: 0 10px; /* Adds space between the links */
 }
 
 
 ul li a {
    color: #8b0045; /* Link color */
 }
 
 
 /* Styling the image */
 img {
    display: block;
    width: 300px; /* Sets width for the image */
    margin: 20px auto; /* Center the image and add margin */
 }
 
 /* Styling the subheadings */
 h2{
    font-size:25px;
    color:#49BEAA;
 }
